body {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}
ul.nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: cornflowerblue;
}
li {
    float: left;
}
li a,
.button {
    display: inline-block;
    color: aliceblue;
    text-align: center;
    padding: 18px 22px;
    height: 15px;
    text-decoration: none;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 0.15);
}
.dropdown-menu a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 16px 20px;
    color: cornflowerblue;
}
.dropdown-menu a:hover {
    background-color: cornflowerblue;
    color: aliceblue;
}
li a .dropdown {
    text-decoration: none;
}
li a:hover,
.dropdown:hover .button {
    background-color: aliceblue;
    color: cornflowerblue;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
div.nav-panel {
    width: 960px;
    position: fixed;
    background-color: black;
    box-shadow: 1px 4px 16px 8px rgba(0, 0, 0, .3);
}



h1{
    text-align: center;
}
h3{
    text-align: center;
    color: #FF0000;
}
h4{
    text-align: center;
    font-size: 12px;
}

p.p{
    border: 1px solid purple;
    padding: 12px;
}
p.r{
    text-align: center;
    color: darkgreen;
    font-style: italic;
}